body {
    width: 100%;
}

.logo {
    margin-top: 10%;
    display: block;
    background-image: url('popcom_logo_low_res.jpg');
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.company, .description, .message {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.description, .message {
    padding: 0%;
    font-weight: normal;
}

.company, .message {
    font-size: 50px;
}